$primaryColor: #707070;
$secondaryColor: #535151;;
$blueColor: #20577A;;

.logoFont {
    font-family: logoFont;
}
.primaryFont {
    font-family: primaryFont;
}

body {
    font-family: primaryFont;
    font-size: 18px;
}


/* Fonts */
@font-face {
    font-family: 'logoFont';
    src: url('/fonts/Bauhaus.ttf');
  }
@font-face {
    font-family: 'primaryFont';
    src: url('/fonts/SEGOEUI.ttf');
  }

/* Colors */
.primaryColor {
  color: $primaryColor;
}
.secondaryColor {
  color: $secondaryColor;
}

/* Background Colors */
.bgPrimaryColor {
  background: $primaryColor;
}
.bg-blue {
  background: $blueColor;
}




/* ====================================== Start Coding styles ====================================== */
.navbar {

    .logo {
        .logoText {
            position: relative;
            top: 7px;
        }
    }

    .loginBtn {
       width: 150px;
       height: 45px;
    }

    ul {
        .link {
            margin: 0 15px;   
        }
        .link:hover {
            border-bottom: 1px solid $blueColor;
        }
    }
}

.homePage {
    img {
        width: 120%; height: 500px; position: relative; left: 17%
    }
    .content {
        width: 100%;
        min-height: 400px;
        height: auto;
        background: #e6e6e6;
        border: 1px solid #ccc;
        border-radius: 5%;
        padding: 60px;
        color: #707070;
        margin: 50px auto;
    }
    p:first-child {
        margin-top: 50px
    }
    .actionsBtn {
        margin-top: 40px;
        .registerBtn {
            width: auto;
            min-width: 120px;
            margin-left: 15px;
            background: none;
            border: 1px solid #20577a;
            color: #707070;
            margin: 5px;
        }
        .exploreBtn {
            width: auto;
              min-width: 120px;
              background: #20577a;
              border: 1px solid #20577a;
              margin: 5px;
        }
    }
}

.dropdownMenu {
    display: none;
}
.dropdownMenu ul li {
    text-align: right;
}



@media screen and (max-width: 1000px) {
    .homePage {
        img {
            width: 100%;
        }
    }
    .dropdownMenu {
        display: inline-block;
        position: relative;
        left: 12vw;
        button {
            background: none;
            color: #20577A !important;
        }
    }
}



@media screen and (max-width: 600px) {
    .homePage {
        img {
            width: 100%;
        }
    }
    .logo {
        position: relative;
        left: 10px
    }
}
